*{ margin: 0; padding: 0; }

.big-box {
  position: relative;
  margin: 100px auto 500px; 
  /* 상에 마진100px  */
  border: 5px solid black;
  width: 500px;
  height: 500px;
}

.small-box {
  position: absolute;
  width: 100px;
  height: 100px;
  box-sizing: border-box; 
}

#red {
  background-color: red;
  /* 큰 사각형 내부의 우측 하단 모서리에 빨간 사각형 위치시키기 */
  bottom: 0; right: 0;

}

#gold {
  background-color: gold;
  /* 브라우저의 하단에서 50px, 우측에서 50px 위치에 고정하기 */
  position: fixed;
  bottom: 50px; right: 50px;
}

#green {
  background-color: green;
  /* absolute 이용해서 큰 사각형의 가운데 위치시키기 */
  top: 200px; left: 200px;
 
}

#blue {
  background-color: blue;s
  /* relative를 사용해서 큰 사각형 좌측 상단 모서리에서 100px, 100px 띄우기 */
  top: 100px; left: 100px;
  
}

#pink {
  background-color: pink;
  /* 큰 사각형 내부의 좌측 상단 모서리로 옮기기*/
  top: 0; left: 0;
  
}

#orange {
  background-color: orange;
  /* 큰 사각형 내부의 좌측 상단 모서리로 옮기기*/
  top: 0; left: 200px;
  
}

#purple {
  background-color: purple;
  /* 큰 사각형 내부의 좌측 상단 모서리로 옮기기*/
  top: 300px; left: 300px;
  
}
